<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body {
				background-color: #E1FAF4 }
				#result {
                color: gray;
                min-height: 2em;
            }
         </style>
		<title>Template Base</title>
	</head>
	<body>
		{% extends 'basee.html' %}
		{% block content %}
		

	<ul>
      <li>Vistas disponibles
        <ul>
          <li><a href="pastel" >Pastel</a></li>
          <li><a href="table" >Tabla</a></li>
          <li><a href="region" >Region</a></li>
        </ul>
      </li>
    </ul>

		{% endblock %}
	</body>
</html>
